TFSTATE_BUCKET=backenderer-tf-state
TFSTATE_REGION=ca-central-1

AWS_REGION_DEV=ca-central-1
AWS_REGION_PROD=ca-central-1

DEV_AMI_ID=ami-xxxxxxxx
DEV_INSTANCE_TYPE=t3.micro
DEV_NAME_PREFIX=backenderer
DEV_TLS_MODE=none
DEV_ROUTE53_ZONE_ID=
DEV_INSTANCE_PROFILE=

PROD_AMI_ID=ami-yyyyyyyy
PROD_INSTANCE_TYPE=t3.small
PROD_NAME_PREFIX=backenderer
PROD_TLS_MODE=alb_acm
PROD_ROUTE53_ZONE_ID=
PROD_INSTANCE_PROFILE=
