github_repo     = "your-org-or-user/your-repo-name"
env             = "prod"
ami_id          = "ami-yyyyyyyyyyyyyyyyy"
instance_type   = "t3.small"
name_prefix     = "backenderer"
create_ecr      = true
tls_mode        = "alb_acm"
route53_zone_id = "Zxxxxxxxxxxxxxxx"
server_name     = "app.example.com"
